.trail-title{
    font-size: xx-large;
}
.trail-description{
    font-size: medium;
}
.trail-modules{
    font-size: small;
}
.progress-bar{
    text-align: center;
    font-size: large;
    font-weight: 600;
}