.module-card {
	display: block;
	border: .5px solid #014486;
	border-radius: .25rem;
}
.module-top{
	font-size: large;
	font-weight: 600;
	margin-left: 2%;
	margin-top: -6%;
}
.module-top:hover{
	color: #014486;
}
.module-line{
	border: 2px solid #014486;
}
.module-detail{
	border: 5px solid #014486;
}
.module-image {
	height: 80px;
}
.description{
	font-size: medium;
}